<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Kendi Halinde Biri 🏕️</h1>
                    <span class="subheading">Unutmayın bir çadırınız olduğu müddetçe dünyanın her bir köşesi sizin evinizdir.🌎🗺️</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Merhaba :) Ben henüz hiç kamp yapmamış ama yapmayı çok isteyen, doğayı çok seven, sessizlikte kendini dinlemeyi seven bir kimseyim..</p>
            <p>Yazın güneşin teninizide yarattığı o yanma hissini sever misiniz? Yada karda yalın ayak yürümeyi? Bilmem belki de gözlerinizi kapatıp bir şelalenin başında öylece oturmayı, toprağa ayak basmayı..</p>
            <p>Düşündünüz mü kendinizi denizin kıyısında uyuyup uyanırken? Veya ucu bucağı olmayan ormanlarda istediğiniz yeri eviniz bellemek nasıl bir duygu düşündünüz mü?</p>
            <p>İşte ben bunları sadece düşünerek, kamp yapmanın bana verebileceği hazzı yaşamayı isteyerek ilerde bana ve benim gibi kampa çıkmayı düşünenlere yardımcı olabilecek bir site hazırladım :) Buradan kamp alanlarına, yol haritası ve hava durumlarına ulaşabilirsiniz. </p>
        </div>
    </div>
</div>

<hr>