<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>İletişim</h1>
                    <span class="subheading">Önerin veya bir mesajın mı var ❔ </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Bana önerinizi / mesajınızı göndermek için aşağıdaki formu doldurun, en kısa sürede size geri döneceğim ✨</p>

            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Adınızı Giriniz" id="name" required data-validation-required-message="Adınızı Giriniz">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="E-mail Giriniz" id="email" required data-validation-required-message="E-mail Giriniz">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>               
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="5" class="form-control" placeholder="Önerinizi / Mesajınızı Giriniz" id="message" required data-validation-required-message="Önerinizi / Mesajınızı Giriniz"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>