<header class="masthead" style="background-image: url('/img/aa.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Camper'lara Öneriler 🏕️</h1>
                    <span class="subheading">Unutmayın bir çadırınız olduğu müddetçe dünyanın her bir köşesi sizin evinizdir.🌎🗺️</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Mevsimlerden bahar veya yaz ise, hep hayalini kurduğunuz çadır hayatına kavuşmanıza hiçbir engel kalmamış demektir.
                Tabi bu söylediğimiz kamp hayatını benimsemiş kişiler için geçerli. Eğer daha önce benim gibi hiç kamp yapmadıysanız, ancak bunun için yanıp tutuşuyor ve bir türlü cesaret edemiyorsanız, farklı yerlerden araştırarak size sunduğum bu tavsiyelerle kamp hayalinizi gerçeğe dönüştürebilirsiniz. Biz tavsiyeleri sundum ama siz işe önce paraya kıyıp güzel bir çadır almakla başlayın. Çadırınız ne kadar geniş ve konforlu olursa, kamptan alacağınız keyif de o kadar büyük olur.
                Kamp yapan birçok kişinin dediğine göre bir kere kamp hayatına alışınca bir daha otellere asla para vermeyecekmişiz.
            </p>
            <h3>1 – Kamp Tecrübesi Olan Bir Kişiyle Gidin</h3>
            <img src="~/img/tecrube.jpg" width="600" height="300" />
            <p>Bu tavsiyeden ziyade ilk kuralımız. Kaç kişiyle gideceğiniz hiç önemli değil, eğer içinizde bir kişi bile daha önce kamp yapmamışsa bir hayli zorluk yaşarsınız. Doğayla iç içe olmak, kuş sesleri ile uyanmak, ateş etrafında toplanmak güzel de, doğayla mücadele etmekten uzaksanız, hatta ateş yakmayı bile bilmiyorsanız bu tatil size zehir olarak geri döner. Kamp tecrübesi olan biriyle giderseniz eğer, çadırınızı nereye, nasıl kuracağınız, ne şekilde ateş yakacağınız, nasıl yemek pişireceğiniz, yanınıza ne almanız gerektiği ve daha pek çok şeyle ilgili sorunlarınız ortadan kalkacak demektir.</p>

            <h3>2 – Arabanızın Tüm Kontrollerini Yaptırın</h3>
            <img src="~/img/araba_bozulmasi.jpg" width="600" height="300" />
            <p>Yoksa yolda kalırsınız. Ben arabadan çok anlamam ama anlayan kişilerin bile çaresiz kaldığını duyduğum için bu konunun ne kadar önemli olduğunu bir kez daha görmüş duymuş oldum. Gideceğiniz mesafe kısa olabilir, ancak sonuçta o arabaya bir hayli yük binecek, yeri gelecek toprak yoldan gitmek durumunda kalacaksınız. Kısacık bir mesafe bile size o günü zehir edebilir benden söylemesi.</p>

            <h3>3 – Hava Durumuna Mutlaka Bakın</h3>
            <img src="~/img/hava_durumu.jpg" width="600" height="300" />
            <p>Yoksa bunu yaşayan diğer insanlar gibi fırtınaya yakalanır ve kamp maceranızı kısa kesmek zorunda kalırsınız. Bazı bölgelerin hava şartları bir hayli değişken olabiliyor. Yani sadece yola çıkmadan kontrol etmek yetmeyebilir, sürekli olarak elinizin altında olmalı.(Bunun için incelemniz kolay olsun diye her kamp alanının yanına hava durumunu verdim) Günde 3-4 defa hava durumuna bakmanızda fayda var. Bakmazsanız şöyle olur; geldiğiniz toprak yol yağmurun etkisiyle kayganlaşır ve 4x4'ünüz yoksa eğer çadırınızda mahsur kalırsanız.</p>

            <h3>4 – Alışveriş Listesi Yapın</h3>
            <img src="~/img/alisveris.jpg" width="600" height="300" />
            <p>Bu zaman kaybına uğramanızı engelleyeceği gibi, evdeki hesabı çarşıya uydurmanız konusunda da fayda sağlar. Yoksa dışarıda o alışveriş sandığınızdan pahalıya patlar. Eğer açgözlülük etmez, sadece ihtiyaçlarınıza yönelir ve kalacağınız gün sayısına göre alacağınız şeylerin miktarını belirleyebilirseniz sizin için süper olur. Her şeyi düşünerek ekonomik ve güzel bir liste hazırlayıp yola çıkabilmekte fayda var.</p>

            <h3>5 – Bunları Götürmeyi Unutmayın</h3>
            <img src="~/img/onemliler.jpg" width="600" height="300" />
            <p>Bunlar nedir? Mat ve uyku tulumu; götürmezseniz ne olur, her yeriniz tutulur ve çok üşürsünüz. Battaniye asla yeterli olmuyor. Kafa feneri; mesela karanlıkta çadır kurmak zorunda kalmamak için çok önemli. Karanlık çöktüğünde tuvalete, çadırınıza giderken, çadırınız içinde bir şeyler ararken en iyi arkadaşınız kafa feneri olacak. El havlusu; plaj havlusu aynı işlevi görmüyor maalesef. Yüzünüzü yıkadığınızda, dişlerinizi fırçaladığınızda evinizin banyosundaki havlu hep gözlerinizin önüne geliyor. Sinek kovucu; şu bildiğimiz vücuda sürülenlerden. Aksi halde fena ısırıyorlar bilginiz olsun. Bunların dışında ateş yakmak için kömüre, oturmak için kamp sandalyesine ihtiyacınız olacak. Bu da ayrı bir yazı konusu olsun artık.</p>

            <h3>6 – Tuvalet Sorununu Çözmek İçin</h3>
            <img src="~/img/tuvalet.jpg" width="600" height="300" />
            <p>Geldik en hassas konuya. Eğer ortak tuvaleti olan bir kamp alanında değil de, ıssız bir koyun kenarındaysanız bu büyük bir sorun teşkil edebilir. Rahatlıkla doğaya bırakabilenlerdenseniz, size her yer tuvalet. Ancak bazılarımız bu konuda bayağı bir zorluk çekebilir. Bir elinizde kahve, diğer elinizde gazete modu maalesef orada olmuyor, üzgünüm. Yakınlarda tuvaletini kullanabileceğiniz bir McDonald's da olmayacaktır. Dolayısıyla yukarıda fotoğraflarını paylaştığımız malzemelerden edinebilirseniz, bir hayli rahat edersiniz. Taburenin fiyatı 20 TL civarı, portatif klozetler de ortalama 200-250 TL. Yalnız onun deposunu mutlaka toprak yola boşaltın, asfalta değil.</p>

            <h3>7 – Çadırınızın Fermuarını Kesinlikle Açık Bırakmayın</h3>
            <img src="~/img/fermuar.jpg" width="600" height="300" />
            <p>Bırakıyorsanız demek ki çok misafirperversiniz. Sabahları karasinekler sizi uyutmadığında saatler süren bir operasyon yapmanız gerekecek ama yine de siz bilirsiniz. Çadırınızın fermuarını kapalı tuttuğunuz sürece ne bir böcek, ne bir sinek, hiçbir şey çadırınıza giremez. Bu kural siz çadırın içindeyken de geçerli. Yani böcek fobisi dolayısıyla bunca yıldır kamp yapmadıysanız, bunun da bir çözümü var görüldüğü gibi.</p>

            <h3>8 – Enerji Verici Şeyler Yiyin</h3>
            <img src="~/img/marshmallow.jpg" width="600" height="300" />
            <p>Yapacağınız alışveriş listesinde mutlaka enerji veren bir şeyler bulunmalı. Enerji verici derken tatlı şeylerden bahsediyorum. Tabi öyle kalitesiz tatlı şeyler değil, fıstık ezmesi gibi şeyler. Fındıklı, fıstıklı, pekmezli barlar filan oluyor, onlardan alabilirsiniz. 1-2 tane sevdiğiniz bisküvi, çikolata, vb. şeyler de bulundurun yanınızda. Sonra bal olabilir. Tabi akşam ateşte marshmallow kızartmak da oldukça keyifli  olacaktır. Ben bazen evde bile ocağın başında yapıyorum, tadı kazan dibi gibi oluyor :)</p>

            <h3>9 – Hangi Mevsim Olursa Olsun Yanınıza Polar Alın</h3>
            <img src="~/img/gece_kamp.jpg" width="600" height="300" />
            <p>Yaz mevsiminde ince bir hırkayla idare edebilirsiniz belki ama bahar aylarında polar şart. Yoksa akşamları keyifle oturamazsınız. Gündüz yaz sıcağına aldanmayın, akşamları tahmininizden daha serin olabilir. Bir de eşofmanınızı uzun çorabınızın içine sokmanız da etkili bir yöntem. Ayrıca bu sayede sinek ve böcek ısırıklarından da önemli ölçüde korunmuş olursunuz.</p>

            <h3>10 – Eski ve Çok Önemsemediğiniz Kıyafetlerinizi Giyin</h3>
            <img src="~/img/1eskimis.jpg" width="600" height="300" />
            <p>Yoksa üzülürsünüz. Çünkü bir kere çok kirlenecekler. Toprak ya da kum lekesi olacak hep. Hadi o yıkanır geçer de, ateşin kıvılcımı sıçrayabilir, ağaç dalına takılabilirsiniz. İşte onların geri dönüşü yok. Kimseyle şıklık yarışına gireceğiniz bir yerde de olmayacağınıza göre, yeni ve sevdiğiniz şeyleri eskitmeye ne gerek var? Başına bir şey geldiğinde sizi derinden yaralamayacak kıyafetlerinizi yanınızda götürmeniz bu anlamda en mantıklı hareket olur.</p>

        </div>
    </div>
</div>

<hr>